#ResourcesWell
{
margin-top: 5px;
margin-bottom: 5px;
}

#ResourceList ul
{
margin: 0px;
padding: 0px;
list-style-type: none;

display:-webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack:justify;
width:200px;
}

#ResourceList li
{
display: inline-block;
margin: -4px;
padding-right: 60px;

-webkit-box-flex:1;
}


#ResourceList div
{
display: inline;
margin: 9px 0px 0px;
padding: 0px;
}

#SecondaryResourceWell
{
margin-top: 5px;
margin-bottom: 5px;

}

#SecondaryResourceList ul
{
margin: 0px;
padding: 0px;
list-style-type: none;

display:-webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack:justify;
width:200px;
}

#SecondaryResourceList li
{
display: inline-block;
margin: -4px;
padding-right: 60px;

-webkit-box-flex:1;
}


#SecondaryResourceList div
{
display: inline;
margin: 9px 0px 0px;
padding: 0px;
}


#GatherList li
{
display: inline-block;
margin: -4px;
padding-right: 20px;
}


#GatherList div
{
display: inline;
margin-top: 20px;
margin-bottom: 0px;
padding: 0px;
}

#relicInputGroup input-group{
padding: 0px;
}

